
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #17a2b8;
    overflow: hidden;
}
nav{
    position: absolute;
    top: 20px;
    right: 5px;
    width: 80px;
    height: 300px;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

nav .nav-content{
    display:flex;
    align-items: center;
    justify-content:center;
    transform: rotate(-45deg);
}

.nav-content .toggle-btn,
.nav-content span a{
    height: 68px;
    width: 68px;
    background: #fff;
    display:flex;
    align-items: center;
    justify-content:center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
/* a単adido para crear efecto en img */
/* .nav-content .toggle-btn, */
/* .nav-content span a{
    height: 64px;
    width: 64px;
    background: #fff;
    display:flex;
    align-items: center;
    justify-content:center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
 */

/* end a単adido */

.nav-content .toggle-btn{
    font-size: 35px;
    color: #0e2431;
    z-index: 100;
    cursor: pointer;
    transform: rotate(-225deg);
    transition: all 0.6s ease;
}

nav.open .toggle-btn{
    transform: rotate(0deg);
}

.nav-content span{
    position: absolute;
    transition: all 0.6s ease;
    opacity: 0;
}

nav.open .nav-content span{
    transform: rotate(calc(var(--i) * (360deg/9.3))) translateY(120px);
    opacity: 1;
}

.nav-content span a{
    text-decoration: none;
    transform: rotate(70deg);
}
.nav-content span a img{
    font-size: 32px;
    color: #077ec3;
    transform: rotate(calc(var(--i) * (360deg/-8)));
    opacity: 0.8;
    transition:0.2s;
}

/* lo 単adi para usar imagenes */
.nav-content span a img{
    font-size: 32px;
    color: #077ec3;
    transform: rotate(calc(var(--i) * (360deg/-8)));
    opacity: 0.8;
    transition:0.2s;
}
/* end de a単adidos */


.nav-content span a:hover i{
    opacity: 1;
}
